.CodeTogather {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Makes images responsive */
}

/* Form container centering class */
.form-container {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: white;
}

main {
  width: 960px;
  margin: auto auto;
}

.navbar a {
  text-decoration: none; /* Removes underlines from links */
  font-size: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbarItem {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
}

