.CodeTogather {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Makes images responsive */
}

/* Form container centering class */
.form-container {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: #1a1a1a;
}

main {
  width: 960px;
  margin: auto auto;
}

.navbar a {
  text-decoration: none; /* Removes underlines from links */
  font-size: 1.5rem;
  color: black;
}

.navbar {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  font-size: 1rem;
}

.navbarItem {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
}


/*team.html styles */

.HelloStaff {
  display: flex;
  justify-content: center;
}
.staffFlexCard {
  display: flex;
  flex-direction: column;
  border-color: black;
  border: 1rem;
  max-width: 960px;

}

.staffMember {
  display: flex;
  flex-direction: row;
  border: solid 0.5rem;
  font-size: 1rem;
}

.staffText {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px; /* Creates space between image and text */
  font-size: 1rem;
}

.footerHeader {
  text-align: center;
  align-items: baseline;
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem
}

/* Main footer container */
.footerItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  border: solid 10px;
  padding: 40px 20px;
  min-height: 150px;
  font-size: 1.2rem
}

/* Container for social media icons */
.social-icons {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.social-icons a {
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease;
}

/* Container for contact info */
.contact-info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: auto; /* This pushes it to the bottom */
  text-align: left;
  align-items: baseline;
  font-size: 1.2rem
}

.contact-info p {
  margin: 5px 0;
}

body{
  background-color: gray;
}
