.CodeTogather {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Makes images responsive */
}

/* Form container centering class */
.form-container {
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid green;
  border-radius: 10px;
  background-color: #1a1a1a;
}

main {
  width: 960px;
  margin: auto auto; 
}

/*team.html styles */ 

.staffFlexContainer {
  display: flex;
  flex-direction: column;
}

.staffMember {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  border: 1px solid #ccc; 
  padding: 20px;
  border-radius: 8px;
}
