
a {
    color: black; 
}

.AppleFigcaption {
    color: white; 
    font-weight: bold;
}

body {
    background-color: darkgray;
    color: black;
}

.CodecademyFigCaption {
    color: black; 
    font-weight: bold; 
    font-size: 14px;
};

.CodeGeassFigCaption {
    color: purple; 
    font-weight: bold;
}
.compensation {
    color: lawngreen;
    font-weight: bold;
    font-size: 14px;
    
}

.CSharpFigCaption {
    color: purple; 
    font-weight: bold;
}

figcaption {
    color: black;
    font-weight: bold;
}

.Geico {
    color: lawngreen;
    font-weight: bold;
    font-size: 14px;
}

.GeicoFigCaption {
    color: lawngreen; 
    font-weight: bold;
    font-size: 14px;
}

header {
    background-color: darkgray; 
    color: black;
}

.JavaFigCaption {
    color: orangered;
    font-weight: bold;

}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    color: white; 
}

.NucampFigCaption {
    color:purple; 
    font-weight: bold;
}

.PlanoTitleBoxingClubFigCaption {
    color: red; 
    font-weight: bold;
}

.ParamoreFigCaption {
    color:white; 
    font-weight: bold;
}

.PrestonCrestChurchofChristFigCaption {
    color: white;
    font-size: bold;
}

.TexasRangersFigCaption{
    color: red;
    font-size: bold;
}

.TheCaptainIsDeadFigCaption {
    color: yellow;
    font-size: bold;
    font-size: 18px;
}

.TheLastOfUsFigCaption {
    color: white; 
    font-size: bold;
}


.UTAFigCaption {
    color: blue;
    font-size: bold;

}








